version: "3.8"

services:
  db:
    # container_name: db_cont
    # build:
      # context: ./database
    image: dattasai1999/digital_lib:db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=digital_library
      - "MYSQL_ROOT_HOST=%"
    ports:
      - "3306:3306"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    volumes:
      - lib_volume:/var/lib/mysql
    networks:
      - lib_network

  auth_service:  
    # container_name: auth-cont
    # build: ./auth
    image: dattasai1999/digital_lib:auth
    ports:
      - "5001:5000"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    environment:
      - DB_HOST=db
      - DB_NAME=digital_library
      - DB_USER=root
      - DB_PASS=root
    depends_on:
      - db
    networks:
      - lib_network

  book_service:  
    # container_name: book-cont
    # build: ./book
    image: dattasai1999/digital_lib:book
    ports:
      - "5002:5000"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    environment:
      - DB_HOST=db
      - DB_NAME=digital_library
      - DB_USER=root
      - DB_PASS=root
    depends_on:
      - db
    networks:
      - lib_network

  borrow_service: 
    # container_name: borrow-cont
    # build: ./borrow
    image: dattasai1999/digital_lib:borrow
    ports:
      - "5003:5000"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    environment:
      - DB_HOST=db
      - DB_NAME=digital_library
      - DB_USER=root
      - DB_PASS=root
    depends_on:
      - db
    networks:
      - lib_network

  frontend:
    # container_name: frontend-cont
    # build: .
    image: dattasai1999/digital_lib:frontend
    ports:
      - "5000:5000"
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    environment:
      - DB_HOST=db
      - AUTH_URL=http://auth_service:5000  
      - BOOK_URL=http://book_service:5000
      - BORROW_URL=http://borrow_service:5000
    depends_on:
      - db
      - auth_service
      - book_service
      - borrow_service
    networks:
      - lib_network

volumes:
  lib_volume:

networks:
  lib_network:
    driver: overlay
